html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10 px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
}

/**Globales*/
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2rem;
}

img {
  max-width: 100%;
}

.mt {
  margin-top: 10rem;
}

.pt {
  padding-top: 10rem;
}

.pb {
  padding-bottom: 10rem;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: inherit;
}

.fijo {
  position: fixed;
  background-color: #18262f;
  width: 100%;
}

.titleHidden {
  visibility: hidden;
}

.titleShow {
  visibility: visible;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

header {
  background-image: url(../img/bannerFinal.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
header h1 {
  font-weight: 300;
  color: white;
}
header .head {
  color: white;
  text-align: center;
  position: relative;
  height: 80%;
}
header .head h1 {
  font-size: 8.8rem;
}

.navbar-nav.ms-auto.mb-2.mb-lg-0 {
  font-size: 2.2rem;
}

@media (max-width: 475px) {
  header {
    height: 80vh;
  }
  h1 {
    font-size: 2.8rem !important;
  }
}
.services {
  height: 100%;
  min-height: 100vh;
}
.services article .br {
  border: 1px solid black;
  padding-top: 2rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 18px -9px rgba(0, 0, 0, 0.5);
}
.services article .br button {
  margin-bottom: 1.5rem;
}

.verMasParr {
  display: block;
}

.hidden {
  height: 0rem;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 1s, visibility 0.5s;
  -webkit-transition: opacity 1s, visibility 0.5s;
  -o-transition: opacity 1s, visibility 0.5s;
  transition: opacity 0.1s, visibility 0.5s;
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s, visibility 1s;
}

.fontAlign h4 {
  font-size: 2.5rem;
}
.fontAlign p {
  font-size: 2rem;
}

@media (max-width: 475px) {
  .mt {
    margin-top: 0rem;
  }
  .hidden {
    height: 0rem;
  }
}
.how {
  height: 100%;
  min-height: 100vh;
}

.inter {
  background-color: #18262f;
  color: white;
}
.inter img {
  width: 100%;
  height: 62rem;
  border-radius: 0rem 8rem 8rem 0rem;
}

.work {
  background-color: white;
  height: 100%;
  min-height: 50vh;
  color: #18262f;
}

@media (max-width: 475px) {
  .photoArticle {
    margin-top: 5rem;
  }
  .name {
    text-align: center;
  }
  .inter {
    background-color: #18262f;
    color: white;
  }
  .inter img {
    width: 100%;
    border-radius: 0rem !important;
    height: 30rem;
  }
}
#contactos {
  background-color: #18262f;
  height: 100%;
  min-height: 50vh;
  color: white;
}
#contactos li {
  list-style: none;
}

.imgUser {
  text-align: center;
}
.imgUser h3 {
  font-size: 2.8rem;
}
.imgUser h4 {
  font-size: 1.8rem;
}
.imgUser img {
  width: 64%;
}

.hiddenHow {
  height: 0rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s, visibility 0.1s;
}

.shownHow {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s, visibility 1.5s;
}

.exp p {
  text-align: start;
}
.exp button {
  text-align: center;
}

.expI p {
  text-align: end;
}
.expI button {
  text-align: center;
}

@media (max-width: 475px) {
  .imgUser {
    text-align: center;
  }
}
.servicesSecond {
  background-image: url(../img/interB.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.lastImg {
  background-image: url(../img/footer.jpg);
  height: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.footer {
  background-color: #18262f;
}
.footer p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
