@import "varibles";

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10 px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  // background-color: #EDEDEC;
}
/**Globales*/

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $fontPrincipal;
  font-weight: $regular;
}
h1 {
  font-size: 4.8rem!important;  
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
.mt{
  margin-top: 10rem;
}
.pt{
  padding-top: 10rem;
}
.pb{
  padding-bottom: 10rem;
}

.btn-outline-primary {
	color: #0d6efd;
	border-color: #0d6efd;
	height: 3.5rem;
	font-size: 1.5rem;
	font-weight: inherit;
}

.fijo {
	position: fixed;
  background-color: $footer;
	width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
	color: white!important;
}