
#contactos{
    background-color: $footer;
    height: 100%;
    min-height: 50vh;
    color: white;
    li {
        list-style: none;
      }
}
.imgUser{
    text-align: center;
    
    h3 {
        font-size: 2.8rem;
      }
      h4{
        font-size: 1.8rem;
      }
      img{
        
        width: 64%;
      }

}
.hiddenHow{
    height: 0rem;
    visibility:hidden;
    opacity: 0;

    transition: opacity .1s, visibility .1s;
}
.shownHow{    
    visibility:visible;
    opacity: 1;
    transition: opacity 1.5s, visibility 1.5s;
}
.exp{
  p{
    text-align: start;
  }
  button{
    text-align: center;
  }
}
.expI{
  p{
    text-align: end;
  }
  button{
    text-align: center;
  }
}
@media (max-width: 475px){
.imgUser{
    text-align: center;
   
}
}


