.services{
    height: 100%;
    min-height: 100vh;
    article{
        .br{
            border: 1px solid black;
            padding-top: 2rem;
            border-radius: 0.4rem;
            box-shadow: 3px 3px 18px -9px rgba(0,0,0,0.5);
            button{
                margin-bottom: 1.5rem;
            }
        }
    }
}

.verMasParr{
    display: block;
}

.hidden{
    height: 0rem;
    visibility:hidden;
    opacity: 0;
    -moz-transition: opacity 1s, visibility .5s;
    -webkit-transition: opacity 1s, visibility .5s;
    -o-transition: opacity 1s, visibility .5s;
    transition: opacity .1s, visibility .5s;
}
.shown{    
    visibility:visible;
    opacity: 1;
    transition: opacity 1.5s, visibility 1s;
}

.fontAlign{
    h4{
        font-size: 2.5rem;
    }
        p{ 
            font-size: 2rem;
        }
    }


@media (max-width: 475px){
  .mt{
    margin-top: 0rem;
  }
  .hidden{
    height: 0rem;
  }
  }