.how{
    height: 100%;
    min-height: 100vh;
}

.inter{
    background-color: $footer;
    color: white;
    img{
        width: 100%;
        height: 62rem;
        border-radius: 0rem 8rem 8rem 0rem;
    }
}

@media (max-width: 475px){
    .photoArticle{
        margin-top: 5rem;
    }
.name{
    text-align: center;
}
.inter{
    background-color: $footer;
    color: white;
    img{
        width: 100%;
        border-radius: 0rem!important ;
    }
}

}
