.servicesSecond{
    background-image: url(../img/interB.jpg);
    // background-image: url(../../img/inter.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}